/* Importar la fuente blacklisted */
@font-face {
    font-family: 'Blacklisted';
    src: url('/fonts/Blacklisted.ttf') format('truetype');
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    width: 90%;
    margin: 0 auto;
    background-color: #000000;
    background-image: url('/img/Logo.jpg');
    background-size: 95%;
    background-repeat: repeat-y;
    background-position: center top;
}

/* Header */
header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    align-items: center;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0%;
    z-index: 1000;
}

/* Logo centrado */
.logo-container {
    position: absolute;
}

.logo {
    width:110px;
    height: auto;
}

/* Nombre de la banda a la derecha del logo */
.name-container {
    position: relative;
    margin-left: 90px;
    bottom: 20px;
}

.name-image {
    margin-top: 35px;
    width: 500px;
    height: auto;
    transition: transform 0.3s; /* Transición suave para el cambio de tamaño */
}

.name-container:hover .name-image {
    transform: scale(1.1); /* Aumenta el tamaño al 110% */
}

/* Navegacion a la izquierda */
nav {
    margin-left: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Blacklisted', sans-serif;
    font-weight: bold;
    font-size: 30px; /* Tamaño de fuente aumentado */
    display: flex; /* Permite que el texto se centre verticalmente */
    align-items: center; /* Alinea el texto verticalmente en el centro */
    transition: transform 0.3s; /* Transición suave para el cambio de tamaño */
}

nav ul li a:hover {
    transform: scale(1.2); /* Aumenta el tamaño al 110% */
}

.info-container{
    color: #ffffff;
    background-color: #00000080;
    margin-top: 120px;
    margin-bottom: 200px;
    text-align: center;
    font-size: 35px;
    padding: 0;
}

.info-container img {
    max-width: 20%; /* Asegura que la imagen no sea más ancha que el contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 20px 0; /* Espacio arriba y abajo de la imagen */
}

/* Redes sociales */
.social-media {
    position: fixed; /* Fija la posición en la pantalla */
    bottom: 20px; /* Distancia desde la parte inferior de la ventana */
    right: 0px; /* Distancia desde el borde derecho de la ventana */
    text-align: center;
    z-index: 1000; /* Asegura que esté sobre el footer */
}

.social-media a {
    margin: 0 10px;
}

.social-media img {
    width: 40px;
    height: auto;
    transition: transform 0.3s;
}

.social-media img:hover {
    transform: scale(1.4);
}

/* Plataformas musicales */
.platforms-container {
    position: fixed; /* Fija la posición en la pantalla */
    bottom: 15px; /* Distancia desde la parte inferior de la ventana */
    left: 0px; /* Distancia desde el borde derecho de la ventana */
    text-align: center;
    z-index: 1000; /* Asegura que esté sobre el footer */
}

.platforms-title {
    font-family: 'Blacklisted', sans-serif; /* Usar la fuente Blacklisted */
    font-size: 15px;
    margin-bottom: 0px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.727);
    border-radius: 20px;
}

.platforms-image {
    max-width: 150px;
    height: auto;
}

/* Footer fijo */
footer {
    font-family: 'Blacklisted', sans-serif; /* Usar la fuente Blacklisted */
    text-align: center;
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    color: #fff;
}